@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: white;
  --black: black;
}

@media (prefers-color-scheme: dark) {
  #default-search {
    background-color: var(--white);
    color: var(--black);
  }
}

body {
  color: var(--black);
  background: var(--white);
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
